@{
    ViewData["Title"] = "Inicio";
}
<div class="text-center">

@if (!User.Identity.IsAuthenticated)
            {
                <h2>
                    <em>¡Bienvenidos!</em>
                    <br /> - ImmoBecker -
                </h2>
            }
            else
            {
                <h2><em>¡Bienvenido/a @User.Claims.First(x => x.Type == "FullName").Value !</em></h2>
            }
    <br />
    <br />
<div class="text-center">
    <img src="~/img/foto.jpg" class="img-thumbnail rounded" alt="Home" width="650" height="280">
</div>
    </div>
