@{
    ViewData["Title"] = "Inicio";
}
<div class="text-center">

@if (!User.Identity.IsAuthenticated)
            {
                <h2>
                    <em>¡Bienvenidos!</em>
                </h2>
            }
            else
            {
                <h2><em>¡Bienvenido/a @User.Claims.First(x => x.Type == "FullName").Value !</em></h2>
            }

<div class="text-center">
    
</div>
    </div>
